@import '../../../variables.scss';

.light-btn {
  background-color: inherit;
  border: 1px solid $border-primary;
  color: $color-text-primary;
  font-family: Montserrat, Arial, sans-serif;
  padding: .69rem .5rem;
  border-radius: 3.125rem;
}